 {% extends 'partials/base.html' %}
 {% block title %}Staff Page {% endblock %}

  {% block content %} 
   <!--Table-->
    <div class="container">
        <div class="row my-4">
            <div class="col-md-4"></div>
            <div class="col-md-8">
                <table class="table bg-white">
                    <thead class="bg-info">
                        <tr class="text-white">
                            <th scope="col">#</th>
                            <th scope="col">First</th>
                            <th scope="col">Last</th>
                            <th scope="col">Handle</th>
                            <th scope="col">Phone number</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                            <td>Mariam</td>
                            <td>Taiwo</td>
                            <td>@marymary</td>
                            <td>08026839827</td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                            <td>Precious</td>
                            <td>Olaleye</td>
                            <td>@prehpreh</td>
                            <td>09026382638</td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                            <td>Sammiat</td>
                            <td>Usman</td>
                            <td>@Sammysam</td>
                            <td>09024572939</td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                            <td>Lawrence</td>
                            <td>Law</td>
                            <td>@Dlaw</td>
                            <td>08145267367</td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                            <td>Temitope</td>
                            <td>Funny</td>
                            <td>@Comics</td>
                            <td>08138298893</td>
                        </tr>
                        <tr>
                            <th scope="row"><a class="btn btn-info btn-sm" href="">View</a></th>
                            <td>Ayomide</td>
                            <td>Samuel</td>
                            <td>@Timeless</td>
                            <td>08141130692</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

    </div>

    <!--End Table-->
    
    {% endblock %}
  